#KAGGLE

KAGGLE_USERNAME = 
KAGGLE_KEY = 


#HF

HF_TOKEN = 


#SUPABASE

DATABASE_URL=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=


#REDIS

REDIS_HOST =
REDIS_PORT = 
REDIS_PASSWORD =

#AIRFLOW
AIRFLOW_UID = 
FERNET_KEY =